<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
	<nav class="navbar navbar-inverse">
 		<button onclick="location.href='http://localhost:8080/greeting'"
 		 			class="btn btn-warning" type="button">Greeting</button>
 		 			 		<button onclick="location.href='http://localhost:8080/adresses'"
 		 			 		 			class="btn btn-warning" type="button">List of addresses</button>
 		 			 		 			 		<button onclick="location.href='http://localhost:8080/adresse'" 			
 		 			 		 			 		class="btn btn-warning" type="button">Add Address</button>
 		 			 		 			 		 	</nav> 
 		 			 		 			 		 	</header>